/* Font imports */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOkCnqEu92Fr1MmgVxIIzI.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fBBc4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Font imports end */

* {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

.container {
    display: grid;
    grid-template: 250px calc(100vh - 250px) / 400px calc(100vw - 400px);
}

.sidebar {
    background-color: #2ecc71;
    grid-area: 1 / 1 / 3 / 2;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 2;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 50px;
    font-weight: 700;
    padding-left: 30px;
}



.sidebar svg {
    stroke: rgba(0,0,0,0);
    fill: white;
    width: 40px;
    height: 40px;
    padding-right: 15px;
}

.logo > svg {
    width: 50px;
    height: 50px;
}

.logo, .sidebar ul {
    padding-top: 60px;

}

ul {
    list-style: none;
    font-size: 30px;
    width: 100%;
    box-sizing: border-box;
}

.sidebar ul li {
    padding-top: 6px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.sidebar ul li a {
    display: inline-flex;
    padding-left: 30px;
    width: 100%;
}

.sidebar ul li:hover {
    background-color: #27ae60
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    z-index: 1;
    background-color: white;
    grid-area: 1 / 2 / 2 / 3;
    box-shadow: 0px 0px 3px 3px #ccc;
    display: grid;
    grid-template: 8fr 10fr / calc(100% - 500px) 500px;
}

.dash {
    background-color: #e2e8f0;
    grid-area: 2 / 2 / 3 / 3;
    box-sizing: border-box;
    padding: 15px;
    display: grid;
    grid-template: 6fr 5fr / 4fr 1fr;
    gap: 15px;
}

.greeting {
    display: flex;
    align-items: center;
}

.profile-icon {
    border-radius: 50%;
    margin-left: 30px;
    margin-right: 30px;
}

.controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button {
    border-radius: 20px;
    height: 40px;
    line-height: 40px;
    width: 130px;
    background-color: #2ecc71;
    color: white;
    text-align: center;
    font-weight: 700;
}

.button:hover {
    background-color: #27ae60;
}

h4 {
    font-size: 25px;
}

h2 {
    font-size: 35px;
    font-weight: 400;
}

h3 {
    font-size: 25px;
    font-weight: 400;
    padding: 10px 0px 10px 0px;
}

h5 {
    padding: 15px;
    font-size: 20px;
    font-weight: 700;
}

.profile {
    display: flex;
    justify-content: right;
    padding: 0px 30px 0px 0px;
    align-items: center;
}

.profile svg {
    height: 50px;
    width: 50px;
    fill: #0f172a;
}

.search {
    display: flex;
    justify-content: left;
    align-items: center;
    box-sizing: border-box;
    padding: 30px;
}

.search input {
    box-shadow: none;
    border: none;
    background-color: #e2e8f0;
    line-height: 30px;
    width: calc(100% - 300px);
    border-radius: 15px;
    padding-left: 10px;
}

.search svg {
    margin-left: 30px;
    height: 30px;
    width: 30px;
    fill: #0f172a;
}

.projects {
    grid-area: 1 / 1 / 3 / 2;
}

.cards {
    display: grid;
    grid-template: repeat(auto-fit, 250px) / repeat(auto-fill, minmax(350px, 1fr));
    grid-auto-rows: 250px;
    gap: 15px;
    width: 100%;

}

.card {
    border-radius: 7px;
    border-left: solid 7px #2ecc71;
    width: 100%;
    height: 100%;
    background-color: #fff;
    box-shadow: 2px 2px 2px 2px #ccc;
    box-sizing: border-box;
}

.announcements {
    grid-area: 1 / 2 / 2 / 3;
}

.trending {
    grid-area: 2 / 2 / 3 / 3;
}

.card-controls {
    display: flex;
    justify-content: right;

}

.card p {
    height: 140px;
}

.card-button svg {
    width: 40px;
    height: 40px;
    fill: #334155;
    padding: 3px;
}
